html {
  --sel-col: red;
  --hue-col: red;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
@keyframes toast {
  0% {transform: translateY(100%);}
  100% {transform: translateY(-30px);}
}

img {width: 1em; height: 1em;}

a, select, input {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagemax {
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: column;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 99;
  background: rgb(16,22,32);
  user-select: none;
  color: white;
  font: 20px Arial;
  --main-col: red;
  --sec-col: black;
  --bg-col: white;
  --ui-col: #222d54;
  --ui-dark-col: rgb(25,35,65);
}

select {background: var(--ui-col); border-color: #348bee; padding: 4px;}
h3 {color: white;}
input[type=number] {-moz-appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; margin: 0;
}

#pagemax .title {
  color: white;
  font-size: 18px;
  padding: 2px 12px;
  border-bottom: 1px solid gray;
  word-break: initial;
  white-space: nowrap;
  margin: 0px 0px 6px 0px;
}

#sticky_navbar, #sticky_navbar div, #sticky_navbar p {display: flex;}

#sticky_navbar {
background-color: var(--ui-col);
width: 100%;
height: 38px;
justify-content: space-between;
border-bottom: 2px solid var(--ui-dark-col);
z-index: 10;
}
#sticky_navbar div, #sticky_navbar p {align-items: center;}
#sticky_navbar div a {font-size: 2em;}
#sticky_navbar p {letter-spacing: 2px; font-size: 1.5em; margin-left: 45px; color: white;}

#actions {
  width: 100%;
  height: calc(100% - 38px);
  justify-content: space-between;
}

.btn {
  position: relative;
  font: 1.2em 'Montserrat', sans-serif;
  color: #348bee;
  border: 1px solid #348bee;
  margin: 4px;
  padding: 4px 8px;
  word-break: initial;
  cursor: pointer;
}
.btn:hover {color: white; background: #348bee;}
.btn.applied {
  border-color: green;
  color: green;
  background: transparent;
}

.button {
  color: white;
  padding: 7px;
  cursor: pointer;
  font-size: 1.1em;
  position: relative;
  min-width: 24px;
  width:24px; height: 24px;
}
.button:active {transform: scale(0.85);}
.btn:active {background: #00e3ff;}

#openCurvesButton {
  height: 63px;
  padding: 0;
  margin: 0;
  width: 63px;
}
#openCurvesButton svg {
  width: 1.7em;
}

.button.sl {
  position: relative;
}
.button.sl .button {
  z-index: 2;
  background: var(--ui-col);
}
.button.sl .slin  {
  z-index: 1;
}
.button.sl:active {transform: none;}
.button.sl:after {
  content: "";
  position:absolute;
  bottom: 0; right: 0;
  width:10px; height: 10px;
  pointer-events: none;
  background: linear-gradient(-45deg, grey 50%, transparent 50%);
  z-index: 3;
}
.button.sl .slin {
  top: 0;
  left: 100%;
  position: absolute;
  background: var(--ui-col);
  transform: translateX(-100%);
  transition: transform 0.25s;
  pointer-events: none;
}
.button.sl:hover .slin {
  pointer-events: all;
  transform: none;
}
.button.sl:hover:after {
  background: none;
}

#colorButton {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 3px;
  background: url(images/transparent-bg.jpg);
  overflow: hidden;
}
#colorButton div {
  width: 100%; height: 100%;
}

#lineButton div {width: 100%; height: 4px; border-radius: 2px; background: currentColor; transform: rotate(45deg);}
#rectButton div, #rectselButton div {width: 70%; height: 70%; border: 2px solid currentColor;}
#arcButton div, #arcselButton div {width: 70%; height: 70%; border-radius: 50%; border: 2px solid currentColor;}
#textButton {font: 1.4em TimesNewRoman;}
#arcselButton div, #rectselButton div {border-style: dashed;}

canvas {cursor: none; position: absolute; left: 0; top: 0;}
#selectionCanvas {mix-blend-mode: difference; z-index: 3; pointer-events: none;}
.canvases {
  position: relative;
  width: 1200px; height: 600px;
  min-width: 1200px;
}

.slider {
position: absolute;
width: 200px;
height: 100%;
user-select: none;
top: 0;
background: #152028;
padding: 8px 15px;
visibility: hidden;
transition: top 0.1s;
}
.slider_line {width: 100%; height: 10px; background: white; border-radius: 666px; position: relative; z-index: 0;}
.slider_button {
position: absolute;
width: 20px;
height: 20px;
background: #348bee;
border-radius: 50%;
left: 0px;
top: -50%;
transform: translateX(-50%);
z-index: 100;
}
.slider_line div {
height: 100%;
width: 0px;
background: rgb(22, 104, 208);
border-radius: 666px;
}
.slider span {color: white; position: absolute; top: 0;}

#cursor {
  position: fixed;
  width: 2px;
  height: 2px;
  border: 1px solid white;
  mix-blend-mode: difference;
  top: 30px;
  left: 30px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: none;
  pointer-events: none;
  z-index: 100;
}

.in:hover + #cursor {display: block;}

#colors_container {
  position: absolute;
  bottom: 0;
  left: 100%;
  flex-direction: column;
  z-index: 5;
}

.color_square_container {
  flex-direction: column;
  background: var(--ui-col);
  padding: 0;
  display: flex;
  z-index: 1;
  transition: 0.25s transform;
  transform: translateY(100%);
  visibility: hidden;
  width: 0px; height: 0px;
}
.color_square_container.visible {transform: none; visibility: visible; width: auto; height: auto; padding: 16px;}

#colorSquare {
position: relative;
width: 255px;
height: 255px;
box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
user-select: none;
background: var(--hue-col);
}

.color_sqr {
position: absolute;
width: 100%;
height: 100%;
}
.color_sqr.sqr1 {
z-index: 0;
background: linear-gradient(to right, #ffffff 0%, rgba(255,255,255,0) 100%);
}
.color_sqr.sqr2 {
z-index: 1;
background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

#colorLine, #transparentLine {
height: 255px;
width: 30px;
margin-left: 30px;
box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.6);
position: relative;
}
#colorLine {background: linear-gradient(to bottom, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);}
#transparentLine {background: url(images/transparent-bg.jpg);}
#colorLine div, #transparentLine #transparencySelector {
position: absolute;
top: 0;
width: 100%;
height: 3px;
border: 2px solid black;
margin-left: -2px;
margin-top: -2px;
pointer-events: none;
z-index: 1;
user-select: none;
}
#colorLine div {background: var(--hue-col);}
#transparentLine #transparencySelector {background: var(--sel-col);}
.transparent_line_in {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, var(--sel-col) 10%, transparent 90%);
}

div#colorSquare #squareSelector {
position: absolute;
background: var(--sel-col);
width: 10px;
height: 10px;
top: 0;
left: 100%;
transform: translate(-50%, -50%);
border: 2px solid black;
border-radius: 50%;
z-index: 100;
pointer-events: none;
}

.color_buttons {width: 100%; height: 44px; margin-top: 16px; justify-content: space-between;}

.colorBtn {
  position: relative;
  width: 25%;
  height: 100%;
  border-radius: 8px;
  font-size: 16px;
  color: black;
  border: 1px solid white;
  overflow: hidden;
}
.colorBtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(images/transparent-bg.jpg);
  z-index: -1;
}

#colors_container .colorsInstruments {
  background: var(--ui-col);
  padding: 10px 0px;
  height: 25px;
  z-index: 1;
  width: 100%;
  justify-content: flex-start;
}

#colors_container #zoom-info {
  color: white;
  font-size: 18px;
  text-align: center;
  width: 55px;
}

.layers_container {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 333px;
  height: 100%;
  background: var(--ui-col);
  font-size: 18px;
  transition: transform 0.25s;
  transform: translateX(100%);
  z-index: 6;
}
.layers_container.visible {transform: none;}
.layers_container .image_info {
  flex-direction: column;
  margin: 12px 8px 0px 8px;
}
.layers_container .paint_info {
  margin: 0px 8px 12px 8px;
  font-size: 0.66em;
}
.layers_container .show-hide-btn {
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 28px;
  height: 40px;
  background: var(--ui-col);
  border-radius: 20px 0px 0px 20px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.layers_container .show-hide-btn svg {
  transform: rotate(-90deg);
  margin-left: 4px;
}
.layers_container.visible .show-hide-btn svg {transform: rotate(90deg);}

#instruments {
  position: relative;
  z-index: 4;
  height: 100%;
}

.instruments {
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  background: var(--ui-col);
}

#inst_settings {
  height: 100%;
  margin-left: 10px;
}

#bg_canvas {background: center / 1% url(images/transparent-bg.jpg);}

#overlay_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  visibility: hidden;
  transform: scale(1.2);
  transition: transform 0.1s;
}
#overlay_container.visible {visibility: visible; transform: none;}
#overlay_dark, #dropImg {
 position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.66);
  cursor: pointer;
}
.overlay {
  background: var(--ui-col);
  border-radius: 16px;
  padding: 30px;
  z-index: 1;
  color: white;
}
.overlay .overflow-box {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  display: none;
}
.overlay .overflow-box.visible {
  display: flex;
}
.overlay h3 {
  border-bottom: 4px solid rgba(128, 128, 128, 0.35);
  padding: 8px 70px;
  font: 25px 'Montserrat', sans-serif;
  text-align: center;
  margin: 0px 0px 30px 0px;
}
.overlay #editCanvas_container .tip {
  color: #ffffff80;
}
.overlay .dim_presets .btn {margin: 4px;}
.overlay .inputs {margin-right: 60px; flex-direction: column; height: 130px; justify-content: space-evenly; align-items: flex-end;}
.overlay .canvasPreview {width: 200px; height: 200px;}
.overlay #canvasPreview {background: var(--bg-col); position: relative;}
.overlay .canvasPreview #canvasAspectRatio {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: grey;
  font-size: 16px;
  width: 150%;
  text-align: center;
}
.overlay .inputs span {margin-right: 10px;}

.overlay input[type="text"], .overlay input[type="number"] {
  width: 100%;
  padding-left: 10px;
  background: rgba(255,255,255,0.05);
  border: none;
  border-bottom: 2px solid rgb(100,100,255);
  height: 30px;
  color: white;
}
.overlay input[type="number"] {width: auto;}
.overlay input[type="text"]:focus, .overlay input[type="number"]:focus {outline: none; border-color: #00e3ff;}
.overlay .errorText {color: red; text-align: center;}
.overlay #addImg_container div {justify-content: flex-start;}
.overlay #addImg_container .title {
  color: #348bee;
  border-color: #348bee;
  padding: 0;
}
.overlay .image_history_container {
  display: none;
  margin-top: 12px;
}
.overlay #addImg_container #imageHistory {
  border: 2px solid #348bee;
  padding: 4px;
}
.overlay #addImg_container #imageHistory img {
  width: 90px;
  height: 100%;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.33s, filter 0.33s;
}
.overlay #addImg_container #imageHistory img:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

input[type="radio"] {
  margin: 10px;
  width: 20px;
  height: 20px;
  color: black;
}

#imageBorder {
  width:100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background-size: 100% 100%;
}
#imageBorder .in_imageBorder {position: relative; width: 100%; height: 100%; cursor: move;}
#imageBorder .imgBorder {
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
}
#imageBorder #imgBordLT {left: -7px; top: -7px;cursor: nw-resize;}
#imageBorder #imgBordLB {left: -7px; bottom: -7px; cursor: ne-resize;}
#imageBorder #imgBordRT {right: -7px; top: -7px; cursor: ne-resize;}
#imageBorder #imgBordRB {right: -7px; bottom: -7px; cursor: nw-resize;}
#imageBorder #imgMove {width: 100%; height: 100%; position: relative; z-index: 0;}
#fullImageBorder {
  position: absolute;
  width: 100%; height: 100%;
  border: 1px solid black;
}
#imageBorder .imgApply, #text_border .imgApply {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: #37ee34;
  border: 3px solid #079015;
  color: white;
  z-index: 1;
}
#inst_settings .imgApply, #inst_settings .imgCancel {
  margin: 0px 5px;
  border: 1px solid #348bee;
  color: #348bee;
}
.imgApply {
  cursor: pointer;
  border-radius: 50%; width: 20px;
  height: 20px;
}
#imageBorder .imgCancel, #text_border .imgCancel {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background:#ff4611;
  border: 3px solid #83004f;
  color:white;
  z-index: 1;
}
.imgCancel, .selButton {
  cursor: pointer;
  font-size: 1.4em;
  border-radius: 50%;
  width: 20px;
  height:20px;
}
.imgApply span {
  width: 50%;
  height: 25%;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg) translate(10%, -10%);
}
.imgRotate {
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 50%;
  width: 20px;
  height:20px;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  background:#348bee;
  border: 3px solid #3F51B5;
  color:white;
}

.canvas_overflow {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;}
#addedImage {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 3;
  background-size: 100% 100%;
}

.selButton {
  visibility: hidden;
  position: absolute;
  background: #348bee;
  border: 3px solid #0037c2;
  font-size: 0.75em;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
}
.selButton.visible {
  visibility: visible;
}

#text_border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  cursor: move;
}
#text_border .in_text_border {position: relative; padding: 10px; border: 1px solid black;}
#text_border input {
  border: none;
  background: transparent;
  color: var(--main-col);
  width: 338px;
  font: 18px Arial, sans-serif;
  vertical-align: top;
  text-align: center;
}

.v-line {
  width: 2px; height: 100%;
  margin: 10px;
  background: rgba(255,255,255,0.2);
}
#sticky_navbar .v-line {height: 70%;}

.h-line {
  width: 70%; height: 2px;
  margin: 10px;
  background: rgba(255,255,255,0.2);
}
#imageProperties .h-line {width: 95%;}

.in {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  will-change: transform, top, left;
}
.inin {position: relative; width: 100%; height: 100%;}

#brushSize {
  color: white;
  height: 100%;
  border: 1px solid #348bee;
  padding: 4px;
  width: 58px;
  height: 20px;
  position: relative;
  transition: background 0.2s;
}
#brushSize:hover {background: #348bee;}

#size_slider {visibility: hidden; top: 0%; background: var(--ui-col);}
#size_slider.visible {visibility: visible; top: 110%;}

#clearButton {color: red;}

.input_cont {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  justify-content: flex-start;
  margin: 0px 18px;
}
.input_cont span {margin-left: 6px;}

.input_cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input_cont .input_style {
  height: 20px;
  width: 20px;
  background-color: var(--ui-dark-col);
  position: relative;
}

.input_cont:hover input ~ .input_style {background-color: #348bee;}
.input_cont input:checked ~ .input_style {background-color: #348bee;}

.input_cont .input_style:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) translate(-100%, -25%);
}

.input_cont input:checked ~ .input_style:after {display: block;}

#imageProperties {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translateX(-100%);
  height: 100%;
  transition: 0.25s transform;
  background: var(--ui-col);
  box-shadow: inset 2px 0px 15px -6px black;
  overflow: hidden;
  padding-top: 8px;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  z-index: -1;
}
#imageProperties.visible {transform: none;}

.in-imageProps {
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.h-slider {
  margin: 10px 0px;
  position: relative;
}
.h-slider .text {
  position: absolute;
  top: -33%; left: 0;
  color: #348bee;
  width: 100%;
  font-size: 0.8em;
}
.h-slider .zero {
  position: absolute;
  top: 66%; left: 50%;
  width: 2px; height: 12px;
  background: #348bee;
  transform: translate(-50%, -50%);
}
.h-slider input {
  position: relative;
  width: 200px;
  height: 5px;
}

.filter {flex-direction: column; margin: 5px;}
.filter div {width: 150px; height: 150px;}
.filter span {
  width: 100%;
  padding: 2px 0px;
  background: #348bee;
  color: white;
  text-align: center;
}
#filter0 div {background: 0% / cover url(images/filter0.jpg);}
#filter1 div {background: 0% / cover url(images/filter1.jpg);}
#filter2 div {background: 0% / cover url(images/filter2.jpg);}
#filter9 div {background: 0% / cover url(images/filter9.jpg);}
#filter3 div {background: 0% / cover url(images/filter3.jpg);}
#filter4 div {background: 0% / cover url(images/filter4.jpg);}
#filter11 div {background: 0% / cover url(images/filter11.jpg);}
#filter5 div {background: 0% / cover url(images/filter5.jpg);}
#filter6 div {background: 0% / cover url(images/filter6.jpg);}
#filter7 div {background: 0% / cover url(images/filter7.jpg);}
#filter8 div {background: 0% / cover url(images/filter8.jpg);}
#filter10 div {background: 0% / cover url(images/filter10.jpg);}
#filter12 div {background: 0% / cover url(images/filter12.jpg);}
#filter13 div {background: 0% / cover url(images/filter13.jpg);}

#tempFilter {width: 100%; height: 100%; top: 0; position: absolute;}

#dim_presetFile {
  position: absolute;
  width: 0.1px; height: 0.1px;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

#pasteImg {display: none; margin-top: 18px;}
#pasteImg.visible {display: flex;}

.borderedInput {
  background: none;
  border: 1px solid #348bee;
  padding: 3px;
}
#fontSize {
  background: none;
  width: 45px;
  height: 100%;
  padding-left: 30px;
  border: none;
  outline: none;
}
.fontSize {
  position: relative;
  border: 1px solid #348bee;
  margin-left: 20px;
  height: 30px;
}
.fontSize div {
  position: absolute;
  color: #348bee;
  font: 22px TimesNewRoman, sans;
  top:50%; left: 4px;
  transform: translateY(-50%);
}
.fontSize div span {margin: -4px 0 0 -2px; transform: scale(0.82);}

#filters_container .filters_table {
  flex-direction: column;
  width: 100%;
  overflow: hidden auto;
  height: 384px;
  justify-content: start;
}
#filters_container .filters_row {width: 100%; justify-content: flex-start;}
#filters_container  .filters_preview {width: 400px; height: 400px; margin-left: 16px;}
.overlay  canvas {position: relative; cursor: crosshair; background: var(--bg-col);}

.overlay input[type=range] {-webkit-appearance: none; background: none; outline: none;}
.overlay input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 666px;
  width: 100%;
  background: white;
}
.overlay input[type=range]::-moz-range-track {
  height: 6px;
  border-radius: 666px;
  width: 100%;
  background: white;
}
.overlay input[type=range]::-webkit-slider-thumb {
  width: 20px; height: 20px;
  margin-top: -6px;
  -webkit-appearance: none;
  background: #348bee;
  border-radius: 50%;
}
.overlay input[type=range]::-moz-range-thumb {
  width: 20px; height: 20px;
  margin-top: -6px;
  background: #348bee;
  border-radius: 50%;
}

#download_container #downloadQuality {width: 100%;}
#download_container #downloadQuality:disabled {filter: saturate(0);}
#download_container  .quality_slider {
  position: relative;
  width: 90%;
  margin: 50px 0px 20px 0px;
}
#download_container  .quality_slider .tips {
  position: absolute;
  color: gray;
  top: -38px;
  transform: translateX(-50%);
  word-break: initial;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
}
#download_container  .quality_slider .tips.left {left: 0%;}
#download_container  .quality_slider .tips.center {left: 50%;}
#download_container  .quality_slider .tips.right {left: 100%;}

#download_container input.checker, #blur_container input.checker {
  width: 0.1px; height: 0.1px;
  opacity: 0;
  margin: 0;
}
#download_container label.checker, #blur_container label.checker {
  padding: 2px 12px;
  border: 1px solid #348bee;
  margin: 0px 6px;
  font-size: 16px;
  color: #348bee;
  cursor: pointer;
}
#download_container input.checker:checked + label.checker, #blur_container input.checker:checked + label.checker {background: #348bee; color: white;}

#dropImg {display: none; z-index: 1;}
#actions.draggedFile #dropImg {display: flex;}
#dropImg .dropImg {
  padding: 30px 50px;
  border-radius: 30px;
  border: 6px dashed white;
  pointer-events: none;
}
#dropImg span {
  font-size: 8em;
  color: white;
}
#dropImg span svg {width: 100%;}
#dropImg p {font-size: 1.15em;}

.overlay .link_container {
  color: #348bee;
  width: 30px;
  height: 54px;
  margin-right: 14px;
  border: 1px solid currentColor;
  border-right: none;
  position: relative;
}
.overlay .link input {opacity: 0; width:0; height:0;}
.overlay .link div {
  width: 25px; height: 25px;
  border: 1px solid currentColor;
  position: absolute;
  top: 25%;
  left: -50%;
  background: var(--ui-col);
}
.overlay .link div svg {transform: rotate(-45deg);}
.overlay .link input:checked + div {background: #348bee; color: var(--ui-col);}

#blur_container #blurPower, #filters_container #filterPower {
  width: 50%;
  margin-right: 16px;
}
#blur_container .blur_list {
  padding: 0px;
  border: 1px solid #348bee;
  list-style: none;
}
#blur_container li {
  margin: 10px;
  display: grid;
}
#blur_container label.checker {
  margin: 0;
  display: block;
}
#blur_container .preview {
  width: 400px;
  padding: 16px 0px 16px 16px;
}

.hist {
  position: absolute;
  left: 0;
  color: grey;
  transform: translateX(-100%);
}
#hist1 {bottom: 128px;}
#hist2 {bottom: 256px;}
#hist3 {bottom: 384px;}

#curves_container .circle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  transform: translate(-50%, -50%);
}

.info span {margin: 0px 4px;
  word-break: keep-all;
  white-space: nowrap;
}
.zoom_container {
  margin: 8px 0px;
  font-size: 1.2em;
}

#imgMove .horiz, #imgMove .vert {position: absolute; background: rgb(128,128,128);}
#imgMove .horiz {left: 0; width: 100%; height: 1px;}
#imgMove .vert {top: 0; height: 100%; width: 1px;}
#imgMove .horiz.first {top: 34%;}
#imgMove .horiz.second {top: 66%;}
#imgMove .vert.first {left: 34%;}
#imgMove .vert.second {left: 66%;}

#curves_container .curvesPreview {margin-left: 25px; max-height: 400px; max-width: 400px;}
#curves_container input[name="curve"] {
  display: block;
  margin: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
}
#curves_container input[name="curve"] + label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid currentColor;
  margin: 10px 10px 10px 0px;
}
#curves_container input[name="curve"]:checked + label {background: currentColor;}

#download_container .downloadName {
  width: 100%;
}
#download_container .downloadName #downloadName {
  width: 280px;
  margin-left: 10px;
}
#download_container label span {
  background: rgba(255,255,255,0.05);
  color: grey;
  border-bottom: 2px solid rgb(100,100,255);
  padding: 5px 10px 4px 0px;
}
#download_container label input:focus + span {border-color: #00e3ff;}
#download_container label input:not(:placeholder-shown) + span {color: white;}
#download_container #fileSize {
  color: grey;
  font-size: 0.75em;
  margin: 0px 10px;
}

#hotkeys_container .list {
  width: 100%;
  max-height: 400px;
  margin: 0px 10px;
  overflow-y: scroll;
}
#hotkeys_container .list p {font-weight: 700;}
#hotkeys_container .list ul {
  list-style: none;
  padding: 0;
  line-height: 40px;
}
#hotkeys_container .list ul li {
  padding: 3px 15px;
  border-radius: 6px;
}
#hotkeys_container .list ul li:hover {background: #348bee2a;}
#hotkeys_container .hotkey {
  display: inline;
  padding: 3px 7px;
  border-radius: 6px;
  background: #348bee;
  box-shadow: -2px 2px 0px 2px #175dac;
}

#toastContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
#toastContainer .toast {
  margin-bottom: 5px;
  padding: 8px 18px;
  border-radius: 666px;
  background: var(--ui-col);
  animation: toast 0.5s;
  transform: translateY(-30px);
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #348bee var(--ui-col);
}
.thin-scrollbar::-webkit-scrollbar {width: 6px;}
.thin-scrollbar::-webkit-scrollbar-thumb {background: #348bee;}
.thin-scrollbar::-webkit-scrollbar-track {background: var(--ui-col);}

#TEST {display: none;}
